<div id="list-<%= list.id %>">
  <div class='row'>
    <%= render partial: 'list_content', locals: { list: list } %>
    <div class='inline-block'>
      <%= button_to(list.toggle_button_name, toggle_list_path(id: list.id, list: { publish: !list.publish }), method: :put, remote: true ) %>
    </div>
    <div class='inline-block'>
      <%= button_to('Delete', list_path(list), method: :delete, remote: true) %>
    </div>
  </div>

  <div id="list-<%= list.id %>-ordered-items">
    <ul>
      <%= render partial: 'list_items/item', collection: list.list_items, as: :item %>
    </ul>
    <%= render partial: 'list_items/item_form', locals: { item: list.list_items.build } %>
  </div>
</div>
